section {
    margin-bottom: 75px;
}
/*profile-picture-container*/
.upload-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border-radius: 4px;
    cursor: pointer;/*Make a utility class for this*/
    padding: 10px 20px;
    border-radius: 5px;
}

.upload-button:hover {
    background-color: #45a049; /* change color on this */
}
/*GoogleMap*/
.custom-map {
    width: 100%;
    height: 450px;
    border: 0;
  }
/*userPostsContainer*/
.post {
    margin: 20px 0;
    border: 2px solid gray;
}
.post img {
    height: 200px;
    border-radius: 5px;
}