/* === BASE STYLES === */

/* Root Variables */
:root {
    /* Color */
    --success-message-color: green;
    --error-message-color: red;
  
    /* Font Family and Weight */
    
    /* Font Size */
    --footer-font-size: 0.9rem; /*16.2px*/
    --base-font-size: 1rem; /* 18px */
    --arrow-font-size: 3rem; /* 54px */
    --h1-font-size: 1.5rem; /* 27px */
    --h2-font-size: 1.33rem; /* 23.94px */
    --h3-font-size: 1.05rem; /* 19.8px */
  }
  
  /* Global Resets */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    list-style-type: none;
  }
  html {
    font-size: 18px;
    
  }
  body {
   /**/
  }
  html, body{
    scroll-behavior: smooth;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  section {
    /**/
  }
  h1 {
    /**/
  }
  h2{
    /**/
  }
  h3{
    /**/
  }







